node_modules/
dist/
.DS_Store
*.log

# Next.js
apps/web/.next/
apps/web/out/

# React Native
apps/mobile/ios/build/
apps/mobile/ios/Pods/
apps/mobile/android/build/
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
*.xcuserstate
*.xcworkspace/xcuserdata/

# TypeScript
*.tsbuildinfo
